        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #01df74;
            padding: 0;
        }

        .header {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .menu li {
            display: inline-block;
            margin-right: 10px;
        }

        .menu li a {
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
        }

        .menu li a:hover {
            background-color: #555;
        }

        .content {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            text-align: left;
        }

        .footer {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }
        a:hover{
            color: green;
            background-color: lightblue;
            font-size: 26px;
            text-decoration: none;
            }