       body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #01df74;
            padding: 0;
        }

        .header {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .menu li {
            display: inline-block;
            margin-right: 10px;
        }

        .menu li a {
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
        }

        .menu li a:hover {
            background-color: #555;
        }

        .content {
            display: flex;
            align-items: center;
            padding: 20px;
            opacity: 0.9;
            font-family: 'Arial', cursive;
            width: 1250px;
            height: 50%;
        }

        .footer {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }
        a:hover{
            color: green;
            background-color: lightblue;
            font-size: 26px;
            text-decoration: none;
            }